@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Review Assignment
   
   Design Style Sheet for Tree and Book Family Home Page
   Author: Austin A and Lane D
   Date:    10/29/18
   
   Filename: tb_visual3.css

*/

/* HTML Styles */
html {
    background-image: url(tb_back5.png)
}

/* Page Body Styles */
body {
    border-left: 3px solid rgb(169, 130, 88);
    border-right: 3px solid rgb(169, 130, 88);
    box-shadow: rgb(53, 21, 0) 25px 0px 35px,
                rgb(53, 21, 0) -25px 0px 35px;
}

/* Main Styles */
main {
    background-image: url(tb_back7.png);
    background-size: 100%;
    background-position: none;
    box-shadow: inset rgb(71, 71, 71) 10px 10px 25px,
                inset rgb(71, 71, 71) -10px -10px 25px;
}

main > header h1 {
    text-shadow: rgb(221, 221, 221) 1px 1px 0px;
    text-shadow: rgba(41, 41, 41, 0.9) 5px 5px 20px;
}
/* Figure Box Styles */
figure {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

figure img {
    border: 25px;
    border-style: solid;
    border-image: url(tb_frame.png) 60 stretch;
    display: block;
    width: 100%;
    -webkit-filter: sepia(80%);
}
    
figcaption {
    font-family: 'Palintino Linotype', Palintino, 'Times New Roman', serif;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

/* Article Styles */
article {
    background: url(tb_back6.png) bottom right / 15% no-repeat;
    border-bottom: double 8px rgb(147, 116, 68);
    border-right: double 8px rgb(147, 116, 68);
    border-bottom-right-radius: 80px;
    box-shadow: inset -10px -10px 25px rgba(184, 154, 112, 0.7);
}

/* Footer Styles */
footer {
    background: linear-gradient(325deg, rgb(180, 148, 104) 20%, 
                                            rgb(40, 33, 23) 60%);
}
