@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 3
   
   Design Styles for the Chupacabra Music Fest
   Author: Austin A and Lane D
   Date:   10/30/18
   
   Filename: cf_effects.css

*/

/* HTML Styles */
html {
    background: url(cf_back1.png);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
}
    


/* Body Styles */
body {
    background-color: rgba(255, 255, 255, 0.3);
}


/* Body Header Styles */
body header {
    background-color: rgba(51, 51, 51, 0.5);
}


/* Aside Styles */
section > aside {
    border: double 10px;
    border-color: rgba(92, 42, 8, 0.3);
    border-radius: 30px;
}

section > aside h1 {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

section#left, section#right {
    perspective: 450px;
}

section#left aside {
    transform: rotateY(25deg);
}

section#right aside {
    transform: rotateY(-25deg);
}
/* Cube Styles */
div#cube {
    position: relative;
    margin-top: 180px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    perspective: 450px;
}

div#cube_left.cube_face {
    position: absolute;
    width: 400px;
    height: 400px;
    transform: translateX(-200px) rotateY(90deg);
}
    
div#cube_bottom.cube_face {
    position: absolute;
    width: 400px;
    height: 400px;
    transform: translateY(200px) rotateX(90deg);
}    
    
div#cube_right.cube_face {
    position: absolute;
    width: 400px;
    height: 400px;
    transform: translateX(200px) rotateY(-90deg);
}    

div#cube_top.cube_face {
    position: absolute;
    width: 400px;
    height: 400px;
    transform: translateY(-200px) rotateX(-90deg);
}
    
div#cube_front.cube_face {
    position: absolute;
    width: 400px;
    height: 400px;
    transform: translateZ(-50px);
}    
    
    
    

    
