@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Layout Styles
   Author: Brett/Josh
   Date: 10/30/18
	
   Filename: br_styles.css

*/

