@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4

   Browyer Realty Layout Styles
   Author: E. Ruiz/Jeremy
   Date: October 30 2018

   Filename: br_styles.css

*/

/* General Styles */
  address, article, aside, blockquote, body, cite, 
  div, dl, dt, dd, em, figcaption, figure, footer, 
  h1, h2, h3, h4, h5, h6, header, html, img, 
  li, main, nav, ol, p, section, span, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
  }

/* Layout Styles */
  body {
      margin-left: auto;
      margin-right: auto;
      min-width: 640px;
      max-width: 960px;
  }  

  /* Header Nav Layout */
    body header nav {
        clear: both;
    }

    body header nav::after{
        clear: both;
        content: "";
        display: table;

    }

    body header nav {
        padding-left: 5%;
        padding-right: 5%;
    }

    body > header > nav ul {
        list-style-type: none;
    }

    body header nav ul li a {
        text-decoration: none;
        display: block;
        float: left;
        width: 18.5%;
        margin-left: 5px;
        margin-right: 5px;
    }
    
  /* Section Nav Images Layout */
    body section nav {
      clear:both;
      float: left;
      width: 100%;
    }
    
    body section nav::after {
      clear:both;
      content: "";
      display: table;
    }
    
    body section nav ul li a {
        text-decoration: none;
        display: block;
        float: left;
        width: 12.5%
    }
    
    body section nav ul li a img {
      width: 100%;
    }
    
  /* Article Layout */
    body section article {
      clear: both;
    }
    
/* Image Styles */
  header img {
      width: 100%;
      background: url(br_paper.png) 100%;
  }
